body {
  background-color: rgb(250, 244, 233);
  padding: 10px;
}
.head {
  position: relative;
  background-image: url();
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/Banner\ Image.png);

  background-position: center;
  background-size: contain;
  width: 1320px;
  height: 600px;

  margin-left: 135px;
  margin-top: 100px;
}

.Happy_New_Year {
  font-size: 16px;
  color: white;
  position: absolute;
  top: 140px;
  left: 500px;
  margin-left: 20px;
  font-size: 30px;
  margin-top: 8px;
  font-style: normal;
}

.New_Year_Party_Celebration {
  color: #fff;
  padding: 2px 1;

  text-align: center;
  font-family: Merriweather;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 600px; /* 131.944% */
}
.secound_portion {
  position: relative;
  margin-left: 300px;
  padding: 5px 5px;
  position: relative;
  align-items: center;
  /* background-color: rgba(242, 239, 245, 0.567); */
  width: 1000px;
  height: 600px;
}
.discount {
  color: red;
  position: relative;
  text-align: center;
  font-size: 90px;
  font-style: normal;
  font-weight: 700px;
  margin-bottom: 50px;
}
.holiday_text {
  font-size: 25px;
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  position: relative;
  margin-left: 10px;
}

.All_CATEGORIES {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 700px;
  margin-top: -20px;
}

.imag img {
  width: 75%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 140px;
}

.welcome_to_mid_night_party {
  position: relative;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/Vectorrr.png);
  /* url(../../resources/Vectorrr.png); */
  /* (../../../resources/Banner\ Image.png); */
  background-position: center;
  background-size: contain;
  width: 1320px;
  height: 600px;
  margin-left: -160px;
  margin-top: 100px;
}

.Welcome_to_midnight_party_letter {
  position: relative;
  padding: 2px 2px;
  color: #fff;
  font-family: Merriweather;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-left: 150px;
  position: absolute;
  top: 60px;
  left: 00px;
}

.funny img {
  position: absolute;
  right: 20px;
  margin-left: 20px;
  margin-top: 70px;
}
.Dolor_sit {
  color: rgba(255, 255, 255, 0.434);

  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  position: absolute;
  top: 280px;
  left: 150px;
}
.join_now {
  color: #fff;
  /* width: 1600px; */
  height: 7335px;
  position: absolute;
  top: 380px;
  left: 180px;
  font-family: Inter;
  font-size: 20px;
}
.information {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  /* background-color: burlywood; */
  margin-top: 70px;
  position: relative;
  width: 1320px;
  right: 160px;

  height: 482px;
  flex-shrink: 0;
}
.text {
  padding: 2px 2px 2px 2px;
  font-family: Inter;
  font-size: 20px;
  padding: 20px;
  /* border-radius: 10px; */
  font-family: Arial, sans-serif;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  text-align: center;
  position: relative;
  top: 50px;
  /* margin-top: 100px; */
  /* margin-left: 0px; */
  margin-top: 100px;
  line-height: 20px;
  font-weight: bold;
}

.button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5.5px;
  cursor: pointer;
}

.join-btn {
  background: #f00;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;

  border-radius: 8px;

  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
}
.join-btn:hover {
  opacity: 0.8;
}

.comming_soon {
  background-color: rgba(241, 235, 241, 0.206);
  margin-top: 70px;
  position: relative;
  width: 1320px;
  right: 160px;
  margin-top: 100px;

  height: 482px;
  flex-shrink: 0;
}

.NEW_BEST_OFFER {
  /* padding: 2px; */
  color: #f00;
  text-align: left;
  /* font-family: Inter; */
  font-size: 20px;
  font-style: normal;
  /* font-weight: 500; */
  line-height: normal;
  position: absolute;
  top: 80px;
  left: 3px;
}

.Coming_Soon {
  color: rgb(23, 3, 3);
  text-align: left;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  top: 110px;
  left: 3px;
  font-family: Merriweather;
  text-transform: capitalize;
}
.Dolor_sit_amet_consectetur {
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  top: 200px;
  left: 3px;
  font-family: Merriweather;
  text-transform: capitalize;
  line-height: 32px; /* 160% */
  color: rgba(7, 2, 17, 0.6);

  font-family: Inter;
}

.image img {
  padding: 10px;

  position: absolute;
  left: 434px;
  top: 50px;
  /* position: absolute; */
  /* left: 700px; */
  /* top: 100px; */
  width: 320px; /* Adjust width and height as needed */
  /* height: 380px; */
  border-radius: 50%; /* Makes the image a circle */
  border: 10px solid red; /* Red border */
  /* border-radius: 463px; */
  border: 15px solid #f00;
}

.Year_number {
  color: #f00;

  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 60px;
  left: 1000px;
}

.Dolor_sit {
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  top: 160px;
  left: 1000px;
  font-family: Merriweather;
  text-transform: capitalize;
  line-height: 32px; /* 160% */
  color: rgba(7, 2, 17, 0.6);

  font-family: Inter;
}
.imgeGroup {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  position: relative;
  top: 320px;
  left: 1000px;
}

.holiday_sales {
  background-color: rgb(244, 241, 241);
  margin-top: 70px;
  position: relative;
  width: 1320px;
  right: 160px;
  margin-top: 100px;
  height: 682px;
  flex-shrink: 0;
}

.what_a_functionality {
  color: #0c0617;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Holidays_Sale_fifty {
  text-align: center;
  font-family: Merriweather;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.big_content {
  color: rgba(7, 2, 17, 0.6);

  text-align: center;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px; /* 160% */
  margin-top: -5px;
}

.images_sales img {
  width: 1320px;
  height: 229px;
  flex-shrink: 0;
  position: relative;
  margin-top: 250px;
}

.box img {
  position: relative;
  left: 110px;
  bottom: 420px;
  width: 420px;
  height: 329px;
  flex-shrink: 0;
}

.girl img {
  position: relative;
  bottom: -30px;
  left: 1039px;
  bottom: 828px;
  width: 278px;
  height: 262px;
  flex-shrink: 0;
}

.offer img {
  position: relative;
  /* bottom: -100px; */
  left: 899px;
  bottom: 1150px;
  width: 279px;
  height: 292px;
  flex-shrink: 0;
}

.awsoame_portfolio {
  background-color: rgba(233, 231, 231, 0.222);
  margin-top: 70px;
  position: relative;
  width: 1320px;
  right: 160px;
  margin-top: 100px;
  height: 850px;
  flex-shrink: 0;
}

.the_best_gift {
  font-size: 20px;
  font-weight: normal;
  color: #f00;
}
.awsam_port {
  color: #070211;

  font-family: Merriweather;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  position: relative;
  top: -30px;
}

.content {
  color: rgba(7, 2, 17, 0.6);

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  position: relative;
  /* top: -50px; */
  bottom: 65px;
}

.beg img {
  width: 369px;
  height: 274px;
  position: relative;
  left: -0px;
  top: -40px;
}

.abeg img {
  /* padding: 2px 2px; */
  /* width: 18%;  */
  /* height: auto; */
  /* position: relative;
  margin-left: 580px;
  bottom:390px;
  width: 320px;
  height: 350px;
  /* flex-shrink: 0; * */
  width: 369px;
  height: 274px;
  position: relative;
  top: -320px;
  left: 490px;
}
.show img {
  width: 369px;
  height: 274px;
  position: relative;
  top: -598px;
  left: 952px;
}

.hilshow img {
  width: 369px;
  height: 274px;
  position: relative;
  top: -490px;
}
.sun_glass img {
  width: 369px;
  height: 274px;
  position: relative;
  top: -770px;
  left: 500px;
}

.ring img {
  width: 369px;
  height: 274px;
  position: relative;
  top: -1050px;
  left: 965px;
}
.tag {
  color: #ede9e9;

  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  top: -380px;
  left: -70px;
}
.Unsubscribe {
  color: rgb(236, 225, 225);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  top: -430px;
  left: 980px;
}

.beg img,
.abeg img,
.show img,
.hilshow img,
.sun_glass img,
.ring img {
  width: 369px;
  height: 274px;
  position: relative;
  transition: transform 0.3s ease;
}

/* Styles on hover */
.beg img:hover,
.abeg img:hover,
.show img:hover,
.hilshow img:hover,
.sun_glass img:hover,
.ring img:hover {
  transform: scale(1.1);
}

.subscribe {
  padding: 2px 2px;
  margin-top: 100px;
  position: relative;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);

  background-position: center;
  background-size: contain;
  width: 1320px;
  height: 600px;

  margin-left: -155px;
  margin-top: 100px;
}

.picture img {
  position: relative;
  padding-left: 551px;
  margin-top: 40px;
  width: 130px;
}
.Subscribe_Newsletter {
  font-size: 35px;
  margin-left: 410px;
}

.contentO {
  color: rgba(7, 2, 17, 0.6);
  margin-top: -30px;

  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

/* Using !important to prioritize styles */
.box {
  position: relative;
  /* width: 3500px; */

  bottom: 46px;
  left: 100px;
}

.box input {
  font-size: 15px;
  width: 13.5%;
  height: 30px;
  background-color: bisque;
  border: 3px solid rgb(95, 45, 9);
  margin-left: 280px;
  width: 470px;
  height: 40px;
  flex-shrink: 0;
  margin-top: 113px;
  /* border-radius: 500px; */
  /* box-shadow: 5px 5px; */
  /* padding: 10px 10px 10px 10px; */
}

.btn {
  width: 80px;
  height: 5px;
  flex-shrink: 0;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  padding: 30px 30px 10px 10px;
  position: relative;
  margin-left: 750px;
  margin-top: -91px;
}
.tag {
  color: #ede9e9;

  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  top: -380px;
  left: -70px;
}
.Unsubscribe {
  color: rgb(236, 225, 225);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  top: -430px;
  left: 980px;
}

.beg img,
.abeg img,
.show img,
.hilshow img,
.sun_glass img,
.ring img {
  width: 369px;
  height: 274px;
  position: relative;
  transition: transform 0.3s ease;
}

/* Styles on hover */
.beg img:hover,
.abeg img:hover,
.show img:hover,
.hilshow img:hover,
.sun_glass img:hover,
.ring img:hover {
  transform: scale(1.1);
}

.last {
  position: relative;
  background: #070211;
  background-position: center;
  background-size: contain;
  width: 1320px;
  height: 500px;

  margin-left: -150px;
  margin-top: 100px;
}

.letter {
  color: #fff;
  color: #fff;

  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
  position: relative;
  top: 100px;
  left: 80px;
}
.number {
  color: #f2e8e8;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
  position: relative;
  top: -400px;
  left: 880px;
}

.gmail {
  color: #f2e8e8;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
  position: relative;
  top: -400px;
  left: 880px;
}

.picture img {
  width: 54px;
  height: auto;
  position: relative;
  top: -357px;
  left: -207px;
}

.inst img {
  width: 50px; /* Adjust this to your desired width */
  height: auto; /* Automatically scales height while maintaining aspect ratio */
  position: relative;
  top: -416px;
  left: 426px;
  /* right: 140px; */
}

.link img {
  width: 50px; /* Adjust this to your desired width */
  height: auto; /* Automatically scales height while maintaining aspect ratio */
  position: relative;
  top: -469px;
  left: 501px;
  /* right: 140px; */
}
